<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑演出信息</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/temp/X-admin/css/font.css">
    <link rel="stylesheet" href="/temp/X-admin/css/xadmin.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
    <script src="/temp/X-admin/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/temp/X-admin/js/xadmin.js"></script>

</head>
<body>
    <!-- 中部开始 -->
    <div class="wrapper">
        <!-- 右侧主体开始 -->
        <div class="page-content">
          <div class="content">
            <!-- 右侧内容框架，更改从这里开始 -->
            {volist name="lists" id="vo"}
            <form class="layui-form"  action="javascript:edit(this);" method="post" >
                <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label">编号</label>
                    <div class="layui-input-inline">
                        <input type="text" id="show_id" name="show_id" value={$vo.show_id} required="" lay-verify="required"
                        autocomplete="off" class="layui-input" readonly>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label">演出名称</label>
                    <div class="layui-input-inline">
                        <input type="text" id="name" name="name" value={$vo.name} required="" lay-verify="required"
                        autocomplete="off" class="layui-input" >
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label">演出地点 </label>
                    <div class="layui-input-inline">
                        <input type="text" id="place" name="place" value={$vo.place} required="" lay-verify="required"
                        autocomplete="off" class="layui-input" >
                    </div>
                </div>
               <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label">演出时间</label>
                    <div class="layui-input-inline">
                        <input type="text" id="start_time" name="start_time" required="" value={$vo.start_time} lay-verify="required"
                        autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_pass" class="layui-form-label">其他备注</label>
                    <div class="layui-input-inline">
                        <input type="text" id="pro_comment" name="pro_comment" value={$vo.pro_comment} 
                        autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label">
                    </label>
                    <button  class="layui-btn" lay-filter="edit" lay-submit="javascript:;" >修改演出信息</button>
                     
                </div>
            </form>
            {/volist}
            <!-- 右侧内容框架，更改从这里结束 -->
          </div>
        </div>
        <!-- 右侧主体结束 -->
    </div>
    <!-- 中部结束 -->
    <script>
    
    function edit(obj){
        
        var show_id = document.getElementById('show_id').value;
        var name = document.getElementById('name').value;
        var place = document.getElementById('place').value;
        var start_time = document.getElementById('start_time').value;
        var pro_comment = document.getElementById('pro_comment').value;
        
        var url = "/index.php/admin/ticket/program_edit_db/show_id/"+ show_id +"/name/" + name +"/place/" + place +"/start_time/" + start_time +"/pro_comment/" + pro_comment +".html";
        
        // alert(url);
    
            $.get(url, function(data,status){
                if(status=="success"){
                    window.parent.location.href=window.parent.location.href;
                }
            });
                //$(obj).parents("tr").remove();
            layer.msg('数据已编辑!',{icon:1,time:1000});
            
    
    }
    
    </script>
</body>
</html>