<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购票管理后台系统</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="/temp/X-admin/css/font.css">
    <link rel="stylesheet" href="/temp/X-admin/css/xadmin.css">
    <link rel="stylesheet" href="/temp/X-admin/css/login.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="/temp/X-admin/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/temp/X-admin/js/xadmin.js"></script>
</head>
<body>
<!-- 顶部开始 -->
<div class="container">
    <div class="logo"><a href="{:url('@admin/main/index')}">购票管理后台系统</a></div>
    <div class="left_open"><i class="iconfont">&#xe699;</i></div>
    <ul class="layui-nav right" lay-filter="">
        <li class="layui-nav-item">
            <a href="javascript:;">{:session('user_name')}</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a href="{:url('@admin/login/edit_password')}">修改密码</a></dd>
                <dd><a href="{:url('@admin/login/logout')}">退出</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="{:url('@admin/main/index')}"></a>后台首页</a></li>
    </ul>
</div>
<!-- 顶部结束 -->
<!-- 中部开始 -->
    <!-- 左侧菜单开始 -->
    <div class="left-nav">
        <div id="side-nav">
            {:action('Menu/index','','widget')}
        </div>
    </div>
    <!-- 左侧菜单结束 -->
    <!-- 右侧主体开始 -->
    <div class="page-content">
            {__CONTENT__}
    </div>
    <!-- 右侧主体结束 -->
<!-- 中部结束 -->
</body>
</html>